/*  your css code here. If applicable */
*{
	background-color:#f8f8f8;
}
.book-library{
	background-color:#ffffff;
	
}
#h3{
	color:#777777;
	padding:0px;
	margin:0px;
}
#btn{
	width:500px;
	height:20px;
	background-color:#2ecc71;
	padding:20px;
	margin:20px;
	border:1px solid;
	text-align:center;
	border:left;
	color:white;
}	
.book{
	width:500px;
	height:500px;
	margin:20px;
	border:1px solid white;
	background-color:whitesmoke;
}
h2{
	padding:0px;
	margin:0px;
}
h1{
	text-align:center;
}